<html>
    <head></head>
    <body>
        <form method="POST">
            <p>
                <label>
                    Name
                    <input type="text" placeholder="name" name="name"/>
                </label>
            </p>
            <p>
                <label>
                    Address
                    <textarea type="text" placeholder="address" name="address"></textarea>
                </label>
            </p>
            <p>
                <label>
                    Email
                    <input type="text" placeholder="email" name="email"/>
                </label>
            </p>
            <p>
                <label>
                    Product name
                    <input type="text" placeholder="product name" name="productname"/>
                </label>
            </p>
            <p>
                <label>
                    Price
                    <input type="text" placeholder="price" name="price"/>
                </label>
            </p>
            <button type="submit">Add user</button>
        </form>
    </body>
</html>