<html>
    <head></head>
    <body>
        <form method="POST">
            <p>
                <label>
                    Name
                    <input type="text" placeholder="name" name="name"/>
                </label>
            </p>
            <p>
                <label>
                    Author
                    <textarea type="text" placeholder="author" name="author"></textarea>
                </label>
            </p>
            <p>
                <label>
                    Title
                    <input type="text" placeholder="email" name="title"/>
                </label>
            </p>
            <p>
                <label>
                    Description
                    <input type="text" placeholder="email" name="description"/>
                </label>
            </p>
            <p>
                <label>
                    Url
                    <input type="text" placeholder="email" name="url"/>
                </label>
            </p>
            <button type="submit">Add user</button>
        </form>
    </body>
</html>