<html>
    <head></head>
    <body>
        <h1>User Dashboard</h1>
        <table>
            <tr>
                <th>Order ID > _id</th>
                <th>Name</th>
                <th>Created On</th>
                <th>Status</th>
                <th>Email</th>
            </tr>

            <% posts.forEach(function(post){ %>
                <tr>
                    <th>_id</th>
                    <th>name</th>
                    <th>data</th>
                    <th>Status</th>
                    <th>Email</th>
                </tr>
            <%});%>

        </table>
    </body>
</html>