<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://openweathermap.org/api' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="get">
          <input name="latest newa" type="text" class="ghost-input" placeholder="get news" required>
          <input type="submit" class="ghost-button" value="latest news">
        </form>
      </fieldset>
    </div>
  </body>
</html>